streamlit
openai
googlesearch-python
beautifulsoup4
requests
tweepy. # Для X (Twitter)
wordpress-api.  # Для WordPress (pip install wordpress-api)
pillow  # Для обработки изображений
google-api-python-client
facebook-sdk
praw
apscheduler
moviepy
elevenlabs
runwayml
google-analytics-data
reportlab
keyring
python-dotenv
streamlit-aggrid
matplotlib